# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# VS Files
.suo
*.vc.db

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Spotiload
*.user
*.ipch
*.suo
*.sdf
*.opensdf
*.opendb
*.cache
/temp/*
!/bin/libspotify.dll
/bin/*
/obj/*
/output/*
src/spotiload/spotiload/*
*.ogg
*.pdb
*.ncb
src/external/lame/obj/Debug
src/external/lame/obj/Release
*.mp3
*.jpg
*.mp3___wip___
*.m3u
*.ini
*.key

